<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonheader">
    <meta charset="UTF-8">
    <title>微社区</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/community.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.6.0.js"></script>

</head>
<body>
<!-- navigation -->
<div class="header layui-header topNa">
    <div class="layui-fluid">
        <ul class="layui-nav"  th:fragment="commonnvg">
            <li class="layui-nav-item " ><a href="/index">微社区</a></li>
            <li class="layui-nav-item "><a href="">产品</a></li>
            <li class="layui-nav-item " ><a href="/publish">提问</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">问题分类</a>
                <dl class="layui-nav-child topNa"> <!-- 二级菜单 -->
                    <dd><a href="/tag/life">生活</a></dd>
                    <dd><a href="/tag/tech">科技</a></dd>
                    <dd><a href="/tag/people">人文</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"  lay-bar="disabled">
                <input type="text" style="height: 27px;width: 300px;border-color: gainsboro;background-color: #3a3d48" placeholder="搜索">
                <button class="layui-btn layui-btn-sm layui-btn-primary layui-border-blue" type="submit">搜索</button>
            </li>

            <li class="layui-nav-item pull-right" th:if="${session.user == null}"><a href="https://github.com/login/oauth/authorize?client_id=f5d6c15d0297d8f0bd88&redirect_uri=http://localhost:8080/callback&scope=user&state=1" methods="get">登录</a></li>
            <li th:if="${session.user} != null" class="layui-nav-item pull-right" >
                <a th:href="'/people/'+${session.user.id}"><img class="layui-nav-img" th:text="${session.user.getName()}"></a>
                <dl class="layui-nav-child topNa">
                    <dd><a href="/myquestion">发布的问题</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item pull-right" th:if="${session.user != null}">
            <a th:href="'/people/'+${session.user.id}+'/notification'" onclick="readNotification()">通知<span class="layui-badge" th:text="${session.notificationCount}"></span></a>
        </li>
        </ul>
    </div>
</div>

<div class="" th:fragment="common-question" style="padding: 30px;">
    <div id="page">
        <div class="layui-row layui-col-space1" >
            <div class="layui-col-md6" th:each="question : ${pageInfo.getList()}" >
                <div class="layui-card">
                    <div class="layui-card-body" >
                        <h3>
                            <a class="layui-font-black" style="font-size: 30px" th:href="@{'/question/'+${question.getId()}}"  th:text="${question.getTitle()}"></a>
                        </h3>
                        <p th:text="${userService.findUserNameById(question.getCreator())}+'：'+${question.getDetail()}" class="layui-font-black" ></p>
                        <p class="layui-font-gray">
                            <i class="layui-icon layui-icon-praise" th:text="${question.getPraiseCount()}"></i>
                            <i class="layui-icon layui-icon-reply-fill" th:text="${question.getCommentCount()}+'条评论'"></i>
                            <i class="layui-icon layui-icon-user" th:text="${question.getViewCount()}+'浏览'"></i> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:fragment="commonsrc">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(nav)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</body>
</html>