<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background: #f6f6f6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/community.js"></script>
</head>
<body>

<input type="hidden" id="userId" th:value="${session.user == null ? null : session.user.id}">
<div th:replace="common :: commonnvg"></div>
<div class="setBottom layui-col-lg7 col-lg-offset-1">
    <div>
        <div class="topNav" style="background: white">
            <div style="padding-top: 18px">
                <a class="topStoryFont topStory" th:classappend="${info == 'latest' ? 'current' : ''}" href="/index">最新</a>
                <a class="topStoryFont topStory" th:classappend="${info == 'popular' ? 'current' : ''}" href="/popular">热门</a>
                <a class="topStoryFont topStory" th:classappend="${info == 'follow' ? 'current' : ''}" href="/follow">关注</a>
            </div>
        </div>
        <div class="layui-row" >
            <div>
                <div th:each="question : ${pageInfo.getList()}" >
                    <div class="layui-card">
                        <div class="layui-card-body" >
                            <div>
                                <small style="color: #ffffff;font-weight: normal;font-size: 12px;padding: 0 3px;border-radius: 2px;background-color: #f68b83;display: inline-block;height: 18px;">问题</small>
                                <a class="layui-font-black" style="font-size: 25px;font-weight: bold" th:href="@{'/question/'+${question.id}}"  th:text="${question.title}"></a>
                            </div>
                            <div class="content">
                                <span style="font-weight: bold" th:text="${question.name}+'：'" class="layui-font-black" ></span>
                                <span th:text="${question.detail}"></span>
                            </div>
                            <p class="layui-font-gray">
                                <span th:if="${session.user == null}">
                                    <button class="point point1" th:href="@{login.html}" th:text="'赞同 '+${question.praiseCount}" th:question-id="${question.id}" th:id="${'question-'+question.id}">
                                        <span th:value="${question.praiseCount}"></span>
                                    </button>
                                </span>

                                <span th:if="${session.user != null}">
                                    <button class="point point1" th:classappend="${praiseService.alreadyPraise(session.user.id,question.id)} == true ? 'like' : ''" onclick="addPraise(this)" th:text="'赞同 '+${question.praiseCount}" th:question-id="${question.id}" th:id="${'question-'+question.id}"></button>
                                </span>

                                <i class="layui-icon layui-icon-reply-fill" style="font-size: 8px" th:text="${question.commentCount}+'条评论'"></i>
                                <i class="layui-icon layui-icon-user" style="font-size: 8px" th:text="${question.viewCount}+'浏览'"></i> </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:if="${info == 'latest'}">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/index">首页</a></li>
                    <li th:each="page : ${pageInfo.getNavigatepageNums()}"><a th:href="@{'/index?pageNum='+${page}}" th:text="${page}"></a></li>
                    <li><a th:href="@{'/index?pageNum='+${pageInfo.getNavigateLastPage()}}">尾页</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div th:if="${info == 'popular'}">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/popular">首页</a></li>
                    <li th:each="page : ${pageInfo.getNavigatepageNums()}"><a th:href="@{'/popular?pageNum='+${page}}" th:text="${page}"></a></li>
                    <li><a th:href="@{'/popular?pageNum='+${pageInfo.getNavigateLastPage()}}">尾页</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div th:if="${info == 'follow'}">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/follow">首页</a></li>
                    <li th:each="page : ${pageInfo.getNavigatepageNums()}"><a th:href="@{'/follow?pageNum='+${page}}" th:text="${page}"></a></li>
                    <li><a th:href="@{'/follow?pageNum='+${pageInfo.getNavigateLastPage()}}">尾页</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</div>



<div th:replace="common :: commonsrc"></div>
</body>
</html>