<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background: #f6f6f6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:replace="common :: commonheader"></div>
</head>
<body class="layui-bg-gray">
<div th:replace="common :: commonnvg"></div>
<div class="layui-bg-gray" style="background-color: #f6f6f6">
    <div class="layui-col-md12 layui-col-lg10 layui-col-sm12 layui-col-xs12 col-lg-offset-1 setBottom">
        <div class="layui-bg-black" style="width: auto;height: 132px"></div>
        <div style="width: auto;height: 116px;background: white">
            <div style="top: 56px;padding-left: 15px;position: absolute">
                <img style="width: 160px;height: 160px" th:src="${session.user.getAvatar()}">
            </div>
            <div style="margin-left: 170px;
                 padding-top: 1px;
                 padding-left: 40px">
                <h1 th:text="${session.user.name}"></h1>
                <input type="hidden" th:id="${session.user == null ? '' : 'id'}" th:value="${session.user.id}">
                <input type="hidden" id="follow-status" th:value="${followService.followStatus(session.user.id,people)}">
                <input type="hidden" id="user-followed" th:value="${people}">
                <!--未关注-->
                <button th:id="fw" onclick="follow(this)" th:if="${session.user == null || !followService.followStatus(session.user.id,people)}" class="point point1">关注</button>
                <!--已关注-->
                <button th:id="fw" onclick="follow(this)" th:if="${session.user != null && followService.followStatus(session.user.id,people)}" th:classappend="${session.user.id != null && followService.followStatus(session.user.id,people)  ? '' : 'like'}" class="point point1 like" >已关注</button>
            </div>
        </div>
        <div style="height: 10px"></div>
        <div style="background: white;padding: 7px 10px">
            <a class="topStoryFont topStory" th:classappend="${nav == 'people' ? 'current' : ''}" th:href="@{'/people/'+ ${session.user.id}}">我的问题</a>
            <a class="topStoryFont topStory" th:classappend="${nav == 'notification' ? 'current' : ''}" th:href="@{'/people/'+${session.user.id}+'/notification'}">通知</a>
        </div>
        <div style="height: 2px"></div>
        <div th:each="notification : ${notificationDTOList}" >
            <div class="layui-card">
            <div class="layui-card-body" >
                <div>
                    <a class="title-btn">通知</a>
                    <a th:href="'/people/'+${notification.getNotifier()}" th:text="${notification.getNotifierName()}"></a>
                    <span style="color: gray" th:text="${' '+notification.getType()+' '}"></span>
                    <a th:href="'/question/'+${notification.getQuestionId()}" th:text="${notification.getTitle()}"></a>
                    <span  class="pull-right" th:text="${#dates.format(notification.getTime(),'yyyy-MM-dd HH:mm')}"></span>
                </div>
                <p class="layui-font-gray">
            </div>
        </div>
        </div>

    </div>

</div>



<div th:replace="common :: commonsrc"></div>

</body>
</html>