<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="background: #f6f6f6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <div th:replace="common :: commonheader"></div>
</head>
<body class="layui-bg-gray">
<div th:replace="common :: commonnvg"></div>
<div class="layui-bg-gray" style="background-color: #f6f6f6">
    <div class="layui-col-md12 layui-col-lg10 layui-col-sm12 layui-col-xs12 col-lg-offset-1 setBottom">
        <div class="layui-bg-black" style="width: auto;height: 132px"></div>
        <div style="width: auto;height: 116px;background: white">
            <div style="top: 56px;padding-left: 15px;position: absolute">
                <img style="width: 160px;height: 160px" th:src="${session.user.getAvatar()}">
            </div>
            <div style="margin-left: 170px;
                 padding-top: 1px;
                 padding-left: 40px">
                <h1 th:text="${session.user.name}"></h1>
            </div>
        </div>
        <div style="height: 10px"></div>
        <div style="background: white;padding: 7px 10px">
            <h4>帖子</h4>
        </div>
        <div style="height: 2px"></div>
        <div th:each="question : ${pageInfo.getList()}" >
            <div class="layui-card">
            <div class="layui-card-body" >
                <div>
                    <small style="color: #ffffff;font-weight: normal;font-size: 12px;padding: 0 3px;border-radius: 2px;background-color: #f68b83;display: inline-block;height: 18px;">问题</small>
                    <a class="layui-font-black" style="font-size: 25px;font-weight: bold" th:href="@{'/question/'+${question.getId()}}"  th:text="${question.getTitle()}"></a>
                </div>
                <div class="content">
                    <span style="font-weight: bold" th:text="${userService.findUserNameById(question.getCreator())}+'：'" class="layui-font-black" ></span>
                    <span th:text="${question.getDetail()}"></span>
                </div>
                <p class="layui-font-gray">
                    <button class="point point1" onclick="" th:text="'赞同'+${question.getLikeCount()}"></button>
                    <i class="layui-icon layui-icon-reply-fill" style="font-size: 8px" th:text="${question.getCommentCount()}+'条评论'"></i>
                    <i class="layui-icon layui-icon-user" style="font-size: 8px" th:text="${question.getViewCount()}+'浏览'"></i> </p>
            </div>
        </div>
        </div>

    </div>

</div>



<div th:replace="common :: commonsrc"></div>

</body>
</html>