<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common :: commonheader"></div>
    <script src="../js/editormd.min.js"></script>
    <script src="../js/lib/marked.min.js"></script>
    <script src="../js/lib/prettify.min.js"></script>
</head>
<body class="layui-bg-gray">
<div th:replace="common :: commonnvg"></div>

<div class="layui-bg-gray" style="padding: 30px;">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md9">
            <div class="layui-card">
<!--                <div class="layui-card-header" th:text="${questioin.getTitle()}" style="font-size: 30px"></div>-->
<!--                <div class="layui-card-body"th:text="${questioin.getDetail()}" style="font-size: 15px">-->

                <div class="layui-card-body">
                    <h1 th:text="${question.getTitle()}"></h1>
                    <span>
                        <img style="padding-right: 2px" th:src="${userService.findAvatarById(question.getCreator())}" width="20px" height="20px">
                        <a href="#" th:text="'作者：'+${userService.findUserNameById(question.getCreator())}" style="color: black"></a>
                        <a th:if="${session.user} != null and ${session.user.getId()} == ${question.getCreator()}" th:href="@{'/question/'+${question.getId()}+'/edit'}" >编辑文章</a>
                        <a th:href="@{'/question/'+ ${question.getId()} + '/delete'} ">删除</a>
                    </span>
                    <input type="hidden" name="questionId" th:value="${question.getId()}">
                    <hr class="layui-border-gray">
                    <!--问题内容-->
                    <div style="height: 300px" id="question-content">
                        <!--<p th:text="${question.getDetail()}"></p>-->
                        <!--<div style="color: darkgray" th:text="'编辑于：'+${#dates.format(question.getUpdateTime(),'yyyy-MM-dd HH:mm')}"></div>-->
                        <textarea style="display:none;" th:text="${question.getDetail()}"></textarea>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var testView = editormd.markdownToHTML("question-content", {
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-col-md9">
            <div class="layui-card">
                <div class="layui-card-header">评论</div>
                <div class="layui-card-body">
                    <div>
                        <div class="input-group">
                            <input type="hidden" id="account_id" th:value="${session.user.getId()}">
                            <input type="hidden" id="question_id" th:value="${question.id}">
                            <label>输入</label>
                            <textarea type="text" class="layui-input" style="width: 300px" id="comment_content" lay-verify="required" lay-reqText="请输入内容！" placeholder="请输入内容" ></textarea>
                            <button class="layui-btn" type="submit"  onclick="post()">评论</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card layui-col-ld12 layui-col-md12 layui-col-xs12">
                <div class="layui-card-body">
                    <div>
                        <h4 th:text="${question.getCommentCount()+'条评论'}"></h4>
                        <hr class="layui-border-black">
                        <div th:each="comment : ${comments}">

                            <div class="comment" th:if="${comment.type == 0}">
                                <div>
                                    <img th:src="${userService.findAvatarById(comment.getCommentator())}" width="20px" height="20px" style="margin-right: 8px;">
                                    <span style="font-weight: bold" th:text="${userService.findUserNameById(comment.getCommentator())}" ></span>
                                    <span class="layui-font-gray" th:if="${question.getCreator() == comment.getCommentator()}">(作者)</span>
                                </div>

                                <div th:text="${comment.getContent()}" style="padding-left: 27px;padding-top: 15px"></div>
                                <div style="padding-top: 15px;padding-left: 27px">
                                    <span class="layui-icon layui-icon-praise point"></span>
                                    <span class="layui-icon layui-icon-reply-fill point" style="padding-left: 7px;font-size: 8px"
                                          onclick="collapseComment(this)" th:if="${commentService.getReplyCount(question.id,comment.id) != 0}" th:data-id="${comment.id}" th:text="查看回复">
                                    </span>
                                    <span style="font-size: 8px" th:if="${commentService.getReplyCount(question.id,comment.id) != 0}" th:text="${commentService.getReplyCount(question.id,comment.id)}"></span>
                                    <span style="padding-left: 7px;font-size: 8px" th:reply-id="${comment.id}" onclick="replyComment(this)">评论</span>
                                    <span class="pull-right" th:text="${#dates.format(comment.getCreateTime(),'yyyy-MM-dd HH:mm')}">发布时间</span>
                                </div>
                                <!--评论-->
                                <div class="layui-col-lg12 layui-col-xs12 collapse" th:id="${'reply-'+comment.id}" style="padding-left: 27px">
                                    <input type="hidden" id="comment_type" th:value="${comment.id}">
                                    <input type="text" class="layui-input" style="width: 300px" id="second_content" lay-verify="required" lay-reqText="请输入内容！" placeholder="请输入内容" >
                                    <span class="layui-btn" type="submit"  onclick="second(this)">评论</span>
                                </div>
                                <!--查看评论-->


                                <div th:id="${'comment-'+ comment.id}" style="padding-left: 27px"
                                     class="layui-col-lg12 layui-col-xs12 collapse">
                                    <div>
                                        <div th:each="second : ${comments}">
                                            <div class="layui-card" th:if="${second.type==comment.id}">
                                                <div class="layui-card-body">
                                                    <div>
                                                        <hr class="layui-border-gray" style="size: 5px;margin-top: 0px">
                                                        <img th:src="${userService.findAvatarById(second.getCommentator())}" width="20px" height="20px" style="margin-right: 8px;">
                                                        <span style="font-weight: bold" th:text="${userService.findUserNameById(second.getCommentator())}"></span>
                                                        <span class="layui-font-gray" th:if="${question.getCreator() == second.getCommentator()}">(作者)</span>
                                                        <span class="layui-font-gray">回复</span>
                                                        <span class="layui-font-gray" style="font-weight: bold" th:text="${userService.findUserNameById(comment.commentator)}"></span>
                                                        <span class="layui-font-gray" th:if="${question.getCreator() == second.getCommentator()}">(作者)</span>
                                                        <div th:text="${comment.getContent()}" style="padding-left: 27px;padding-top: 15px"></div>
                                                        <div style="padding-top: 15px;padding-left: 27px">
                                                            <span class="layui-icon layui-icon-praise point"></span>
                                                            <span class="layui-icon layui-icon-reply-fill point" style="padding-left: 7px" th:data-id="${comment.id}"></span>
                                                            <span class="pull-right" th:text="${#dates.format(comment.getCreateTime(),'yyyy-MM-dd HH:mm')}">发布时间</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <hr class="layui-border-gray" style="size: 5px;margin-top: 0px">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div th:replace="common :: commonsrc"></div>
</body>
</html>