<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>

<body>
<div th:replace="common :: commonnvg"></div>
<div th:replace="common :: common-question"></div>

<div th:replace="common :: commonsrc"></div>
</body>
</html>